#AnchorPane {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url('/it/polimi/ingsw/imagesimi/ingsw/images/background/CodexNaturalisBackgroundDark.png');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#imageView {
    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
}

#backButton {
    -fx-background-color: #ebe1b8;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-text-fill: #000000;
    -fx-font-family: "Bebas Neue Regular";
    -fx-font-size: 27px;
    -fx-padding: 10px 20px;
    -fx-cursor: pointer;
}

#backButton:hover {
    -fx-background-color: #c8b052;
    -fx-text-fill: #f0f0f0;
}