#mainPane{
    -fx-background-image: url(/it/polimi/ingsw/images/background/CodexNaturalisBackgroundDark.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: black;
}

.button{
    -fx-text-fill: #ffffff;
    -fx-font-size: 100;
    -fx-font-family: "Bebas Neue Regular";
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.button:hover{
    -fx-text-fill: #bbbbbb;
}
