#gameName{
    -fx-font-size: 30;
}
#gameEndedLabel{
    -fx-font-size: 30;
}

#quitButton{
    -fx-font-size: 40;
    -fx-font-family: "Bebas Neue Regular";
}

#leaderboardLabel{
    -fx-font-size: 30;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-font-size: 20;
}

#borderPane{
    /*-fx-background-color: #fbfbbb;*/
    /*-fx-background-color: #98E1DC;*/
    -fx-background-color: #2B2D30;
}

#stackPane{
    -fx-background-color: #1E1F22;
}

#chatLabel{
    -fx-font-family: "Bebas Neue Regular";
}

#showingLabel{
    -fx-font-family: "Bebas Neue Regular";
}

.combo-box{
    -fx-font-size: 20;
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-background-color: rgba(20, 20, 20, 0.5);
}
.combo-box .list-cell {
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1E1F22;
}

.combo-box .text-field {
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
}

.choice-box .choice-box-popup .list-view {
    -fx-background-color: #1E1F22;
}

#quitButton{
    -fx-font-size: 40;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-family: "Bebas Neue Regular";
    -fx-border-width: 0;
    -fx-padding: 0;
}
.button:hover{
    -fx-text-fill: #BBBBBB;
}
