.label{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-font-size: 20;
}
#aboveLabel{
    -fx-font-size: 30;
}
#gameName{
    -fx-font-size: 30;
}
#borderPane{
    /*-fx-background-color: #fbfbbb;*/
    /*-fx-background-color: #98E1DC;*/
    -fx-background-color: #2B2D30;
}

#stackPane{
    -fx-background-color: #1E1F22;
}

#chatLabel{
    -fx-font-family: "Bebas Neue Regular";
}

#showingLabel{
    -fx-font-family: "Bebas Neue Regular";
}

.combo-box{
    -fx-font-size: 20;
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-background-color: rgba(20, 20, 20, 0.5);
}
.combo-box .list-cell {
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1E1F22;
}

.combo-box .text-field {
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
}

.choice-box .choice-box-popup .list-view {
    -fx-background-color: #1E1F22;
}

#quitButton{
    -fx-font-size: 40;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-family: "Bebas Neue Regular";
    -fx-border-width: 0;
    -fx-padding: 0;
}
.button:hover{
    -fx-text-fill: #BBBBBB;
}

.text-area{
    -fx-font-size: 25;
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.text-area .content{
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical,
.text-area .scroll-bar:vertical .track,
.text-area .scroll-bar:vertical .track-background{
    -fx-background-color: transparent;
}


.text-area .scroll-bar:vertical .thumb{
    -fx-background-color: #0D0D0D
}

.text-area .scroll-bar .increment-button,
.text-area .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.text-input{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-font-size: 20;
}

.text-field{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.userTexts{
    -fx-fill: #FFFFFF;
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-font-size: 20;
}