#mainPane{
    -fx-background-image: url("/it/polimi/ingsw/images/background/CodexNaturalisBackgroundDarkest.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-color: black;
}

.text-input{
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-font-size: 50;
}

.text-field{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.password-field{
    -fx-font-size: 50.0;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.password-input{
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-font-family: "BebasNeuePro-Regular";
    -fx-font-size: 50;
}
.label {
    -fx-text-fill: #FF0000;
    -fx-font-size: 40;
    -fx-font-family: "Bebas Neue Regular";
}

.button{
    -fx-text-fill: #ffffff;
    -fx-font-size: 100;
    -fx-font-family: "Bebas Neue Regular";
    -fx-background-color: "transparent";
    -fx-border-width: 0;
    -fx-padding: 0;
}

.button:hover{
    -fx-text-fill: #bbbbbb;
}
