#mainAnchor {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("/it/polimi/ingsw/images/background/CodexNaturalisBackgroundDarkest.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#progressBar {
    -fx-accent: #595854;
}

#lobbyName {
    -fx-text-fill: #f5f4f4;
    -fx-font-size: 50px;
    -fx-font-family: "Bebas Neue Regular";
}

#quitButton {
    -fx-background-color: #ebe1b8;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-text-fill: #000000;
    -fx-font-family: "Bebas Neue Regular";
    -fx-font-size: 15px;
    -fx-padding: 10px 20px;
    -fx-cursor: pointer;
}

#vbox1{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-background-color: rgba(255, 255, 255, 0.4);
    /*  -fx-effect: dropshadow(gaussian, #0D0D0D, 10, 0.5, 0, 0);*/
    -fx-border-width: 5;
}

#vboxChat{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-background-color: rgba(255, 255, 255, 0.4);
    /*  -fx-effect: dropshadow(gaussian, #0D0D0D, 10, 0.5, 0, 0);*/
    -fx-border-width: 5;
}

#chatTitle{
    -fx-font-size: 50;
}

#sendButton{
    -fx-text-fill: #ffffff;
    -fx-font-size: 50;
    -fx-font-family: "Bebas Neue Regular";
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
